@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    margin: 0;
    padding: 0;
}

body{
   font-family: 'Open Sans',serif;
}

html{
    background-color: white;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.navegador {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    background-color: #ceaed5; 
    padding: 12px 15px;
    }

.navegador img {
    height: 40px;
    width: 40px;
}


.menu-principal {
  display: flex;
  gap: 15px;
}

.nav-list{
    display: flex;
    gap: 38px;
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.nav-item-link{
    color: white;
}

.nav-item-link:hover{
    text-decoration: underline;
 }


 /* ---------- login y registrase ---------- */


 .boton-ingreso{
    display: flex;
    align-items: center;
}

.boton-ingreso img {
    height: 30px;
    width: 30px;
    margin-top: 3px;
}

.boton-ingreso a {
    background-color: #ffdddd;
    padding: 11% 9%;
    border-radius: 0.5rem;
}


/* ------------- HERO ---------------- */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 7%;
  flex-wrap: wrap;
}

#carousel {
  margin: auto;
  background-color: white;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

#carousel>ul,
li {
  list-style: none;
}

#carousel ul.slider {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px;
}

#carousel>ul.slider h1{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 50%;
  top: 64px;
  transform: translate(-50%, -50%);
  width: 100%;
    text-align: center;
}

#carousel>ul.slider h2{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
    left: 50%;
    top: 174px;
  transform: translate(-50%, -50%);
  width: 100%;
    text-align: center;
}

#carousel ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background: #ceaed5;
}

.prueba1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.prueba2{
  width: 100%;
  height: 300px;
  object-fit: contain;
}


#carousel ul.slider li:first-child {
  opacity: 1;
  /*Mostramos el primer <li>*/
}

#carousel ul.slider li:target {
  opacity: 1;
  /*Mostramos el <li> del enlace que pulsemos*/
}

#carousel .menu {
  text-align: center;
  margin: 7px;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  background-color: #ceaed5;
  padding: 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

/* --------------------- PREVENTA ------------- */

.preventa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3%;
}

.preventa p{
  text-align: center;
  

}

.preventa h1 {
  text-align: center;
}

.cards h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  background-color: antiquewhite;
    margin: 5%;
}


/*************** PRODUCTOS *************/

.productos-conteiner {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 10%;
}

.producto {
  flex-direction: column;
    display: flex;
    text-align: center;
    gap: 5px;
    margin: 2%;
}

.producto img {
  width: 12rem;
  height: 12rem;
    margin: 12px;
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
}


.producto p {
  width: 13.5rem;
}

.precio{
  font-weight: bold;
}

.producto a {
  background-color: #f7d2f5;
  border-radius: 4px;
  padding: 4px 23px;
  letter-spacing: 1px;
  margin-top: 2%;
}

.producto a:hover,
.ver-mas a:hover{
 background-color: violet;
 color: black;
 font-weight: bold;
}

.descuento {
  text-align: center;
    font-size: 9px;
    color: grey;
}

.ver-mas{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 3% 10%;

}

.ver-mas a{
  background-color: #f7d2f5;
    text-align: center;
    padding: 10px 14px;
    border: 1px solid black;
    }