@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans',serif;

}

html{
    background-color: white;
    scroll-behavior: smooth;
}

.navegador {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    background-color: #ceaed5; 
    padding: 0.75rem 0.938rem;
}

.icono-principal {
    height: 2.5rem;
    width: 2.5rem;
}

.menu-principal {
  display: flex;
  gap: 0.938rem;
}

.nav-list{
    display: flex;
    gap: 2.375rem;
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
}

.nav-item-link{
    color: white;
}

.nav-item-link:hover,
.boton-ingreso a:hover{
    text-decoration: underline;
 }


 /* ---------- login y registrase ---------- */

.nav-list-secundario{
  gap: 0.5rem;
}

.nav-list-secundario p{
  margin-top: 0.375rem;
    color: white;
}

 .boton-ingreso{
    display: flex;
    align-items: center;
}

.boton-ingreso img {
    height: 1.875rem;
    width: 1.875rem;
    margin-right: 0.625rem;
}

.boton-ingreso a {
    border-radius: 0.5rem;
    color:white;
    font-size: 0.938rem;
}


/* ------------- HERO ---------------- */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem;
  flex-wrap: wrap;
}

#carousel {
  margin: auto;
  background-color: white;
  max-width: 50rem;
  width: 100%;
  box-sizing: border-box;
}

#carousel ul,
#carousel li {
  list-style: none;
}

#carousel ul.slider {
  position: relative;
  max-width: 50rem;
  width: 100%;
  height: 18.75rem;
}

#carousel ul.slider h1{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.625rem;
  left: 50%;
  top: 4rem;
  transform: translate(-50%, -50%);
  width: 100%;
    text-align: center;
}

#carousel ul.slider h2{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.625rem;
    left: 50%;
    top: 10.875rem;
  transform: translate(-50%, -50%);
  width: 100%;
    text-align: center;
}

#carousel ul.slider li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background: #ceaed5;
}

.slider-1,
.slider-3 {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}

.slider-2{
  width: 100%;
  height: 18.75rem;
  object-fit: contain;
}


#carousel ul.slider li:first-child {
  opacity: 1;
}

#carousel ul.slider li:target {
  opacity: 1;
}

#carousel .menu {
  text-align: center;
  margin: 0.438rem;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  background-color: #cec9cf;
  padding: 0.325rem;
  width: 0.938rem;
  height: 0.938rem;
  border-radius: 100%;
}

.menu li:active,
.menu li a:active{
  border-radius: 100%;
}

/* --------------------- PREVENTA ------------- */

.preventa{
  display: flex;
  background-image: url(img/fondo/fondo-preventa.jpg);
  margin-top: 2.5rem;
}

.preventa-contenedor{
  background-color: rgba(41, 39, 39, 0.7);
    padding: 0.938rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    color: white;
}

.preventa p{
  text-align: center;
  font-weight: bold;
}

.preventa h1 {
  text-align: center;
}


/*************** PRODUCTOS *************/

.cards h2 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  background-color: #f7d2f59e;
    margin: 3rem;
}

.productos-conteiner {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.938rem;
    margin: 0 8.5rem;
}

.producto {
  flex-direction: column;
    display: flex;
    text-align: center;
    gap: 0.313rem;
    margin: 1rem;
}

.producto img {
  width: 12rem;
  height: 12rem;
    margin: 0.75rem;
    border-radius: 0.938rem;
    object-fit: cover;
    cursor: pointer;
}


.producto p {
  width: 13.5rem;
}

.precio{
  font-weight: bold;
}

.producto a {
  background-color: #f7d2f5;
  border-radius: 0.25rem;
  padding: 0.25rem 1.438rem;
  letter-spacing: 1px;
  margin-top: 0.3rem;
}

.producto a:hover,
.ver-mas a:hover,
.producto a:active,
.ver-mas a:active{
 background-color: violet;
 color: black;
 font-weight: bold;
}

.descuento {
  text-align: center;
    font-size: 0.563rem;
    color: grey;
}

.ver-mas,
.input-contacto{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.938rem;
  margin: 2.7rem 6.5rem;;

}

.ver-mas a{
  background-color: #f7d2f5;
    text-align: center;
    padding: 0.625rem 0.875rem;
    border: 1px solid black;
    }

    /* --------------------- BENEFICIOS -------------------- */

    .beneficios{
      display: flex; 
      flex-direction: column;
      text-align: center;
      border: 1px solid black;
      background-image: url(img/fondo/fondo-beneficios.jpg);
      font-weight: bold;
      font-size: 1.313rem;
      margin: 6rem 0;
  }

  .beneficios-contenedor {
    background-color: rgba(41, 39, 39, 0.6);
    padding: 1.25rem;
    color: #ffdddd;
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
  }

  .beneficios-contenedor img{
    width: 20px;
  }

    /* -------------- CONTACTO ---------------- */

    .contacto{
      display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 2rem;
    flex-wrap: wrap;
    }

    .form{
      display: flex;
    text-align: center;
    flex-direction: column;
    gap: 2.25rem;
    }

    .form h2{
      text-align: center;
    }

    .contenedor-text{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
   
input {
  text-align: center;
    background: transparent;
    font-size: 1.125rem;
    color: black;
    padding: 0.25rem 2.3rem;
    border: none;
    border-bottom: 0.125rem solid #e1d4d4;
}

.input-contacto {
  margin: 0;
}

.contenedor textarea{
  resize: none;
  font-size: 1.125rem;
}

.submit {
  background-color: #ceaed5;
}

/* MAPA --------*/

.mapa iframe{
  width: 100%;
    height: 19rem;
}

/* -------------- FOOTER ---------------- */

footer{
  flex-direction: column;
  background-color: #ceaed5;
  padding: 2rem;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  text-align: center;
}

.footer-contenedor{
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.redes {
  display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.redes img {
  width: 2.188rem;
}

.contenedor-redes {
  display: flex;
  gap: 0.813rem;
}



.contactos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactos a {
  color: black;
  font-weight: bold;
}

.medios-de-pago h2{
  margin-bottom: 1rem;
}

.medios-de-pago img {
  width: 3.125rem;
}

footer p {
  font-weight: bold;
}