@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
   font-family: 'Open Sans',serif;
}


body {
    background: black;
    display: flex;
    justify-content: center;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    height: 35rem;
    width: 33rem;
    background-color: rgba(41, 39, 39, 0.7);
    box-shadow: 0 5px 30px black;     
}

.form h1{
    padding-left: 2rem;
    color: #ffdddd;
}
.contenedor {
    display: flex;
}

.contenedor img {
    height: 30px;
    width: 30px;
}

.contenedor input{
    padding: 4px 30px;
    border: none;
    border-bottom: 2px solid #e1d4d4;
}

input {
    text-align: center;
    background: transparent;
    font-size: 18px;
    color: #ffdddd;
}


input::placeholder{
    color: #ffdddd;
    font-size: 18px;
    opacity: 1;
}

.icono-ingreso {
    height: 50px;
    width: 50px;
    padding: 5% 0 5% 44%;
}

.registro {
    padding: 12px 0px;
}

.registro a{
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ceaed5;
    color: black;
    border-radius: 15px;
    width: 15rem;
    height: 3rem;
    margin-left: 24px;
    font-weight: bold;
}

.registro a:hover{
    transition: all 0.5s;
    padding: 5px 10px;
}

.form-bottom  {
    display: flex;
    text-decoration: none;
    gap: 17px;
    align-items: center;
    padding: 0 0 24px 0;
}

.facebook {
    background-color: #3b5998;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 2rem;
    width: 10.5rem;
}

.facebook img {
    width: 30px;
}

a {
    text-decoration: none;
    color:white;
}

.cuenta:hover{
    text-decoration: underline;
}


@media (max-width: 370px) {

    .form-bottom {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
}
