.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form h1{
    padding-left: 2rem;
}
.contenedor {
    display: flex;
}

.contenedor img {
    height: 40px;
    width: 40px;
}

.contenedor input{
    padding: 4px 30px;
}

input {
    text-align: center;
}


.icono-ingreso {
    height: 50px;
    width: 50px;
}