@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
   font-family: 'Open Sans',serif;
}


body {
    background: black;
    display: flex;
    justify-content: center;
    background-image: url(img/fondo-sign_in.jpg);
    background-repeat: repeat;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 38rem;
    width: 33rem;
    background-color: rgba(41, 39, 39, 0.7);
    box-shadow: 0 5px 30px black;     
}

.titulo-principal{
    color: #ffdddd;
}

.contenedor {
    display: flex;
}

input {
    text-align: center;
    background: transparent;
    font-size: 18px;
    color: #ffdddd;
    padding: 4px 30px;
    border: none;
    border-bottom: 2px solid #e1d4d4;
}

input::placeholder{
    color: #ffdddd;
    font-size: 18px;
}

.registro {
    padding: 12px 0px;
}

.registro a{
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ceaed5;
    color: black;
    border-radius: 15px;
    width: 15rem;
    height: 3rem;
    font-weight: bold;
}

.registro a:hover{
    transition: all 0.5s;
    padding: 5px 10px;
}

.form-bottom  {
    display: flex;
    text-decoration: none;
    gap: 17px;
    align-items: center;
}

.facebook {
    background-color: #3b5998;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 2rem;
    width: 10.5rem;
    gap: 7px;
}

.facebook img {
    width: 30px;
}

a {
    text-decoration: none;
    color:white;
}

.cuenta {
    font-size: 18px;
}

.cuenta:hover{
    text-decoration: underline;
}


@media (max-width: 500px) {

    .form-bottom {
        display: flex;
        flex-direction: column;
    }

}


/* ------------ LOGIN ---------------  */


.form-login {
    padding-top: 20px;
    gap: 28px;
    height: 36rem;
    width: 31rem;
}

.password .checkbox{
    font-size: 18px;
    color:white;
}

.checkbox{
    font-size: 18px;
    color:white;
}

.registro-login{
    padding: 0;
}

.password:hover {
    text-decoration: underline;
}

.contenido-login {
    background-image: url("img/fondo-login.jpg");
}


.home {
    background-color: #ceaed5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 7px;
    margin: 0 0 24px 0;
    transition: all 0.5s;
}

.home img {
    width: 30px;
}

.home a {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.home:hover{
    transition: all 0.5s;
    padding: 15px 20px;
} 